<h2 style="text-align: center;">
    <span style="text-decoration: underline;">
        <em>
            <strong>CHOOSE YOUR OWN STORY</strong>
        </em>
    </span>
</h2>

<h3>
    <span style="text-decoration: underline;">
        <em>
            <strong>Title:</strong>
        </em>
    </span>
</h3>

<blockquote>
    <p>%s</p>
</blockquote>

<h3>
    <strong>
        <em>
            <span style="text-decoration: underline;">Story:</span>
        </em>
    </strong>
</h3>

<!--main story-->
<blockquote>
    <p>%s</p>
</blockquote>